body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #FFEFD5;
}

.AppHeader {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 20px 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.AppHeader-logo {
    width: 70px;
    /* Fixed size for logo */
    height: auto;
    /* Maintain aspect ratio */
}

.AppFooter {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}
.SideMenuAndPageContent {
    display: flex;
    flex: 1;
    padding-bottom: 84vh;
    justify-content: flex-start;
    align-items: flex-start;
  }

.SideMenuAndPageContent .ant-space {
    width: 100%;
  }
.Sidemenu {}

.Pagecontent {
    padding-left: 12px;
}